body{
    background-image: url(1033554.jpg);
    background-repeat: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: aliceblue;
    font: 20pt;
}